i {
    padding-right: 5px;
}

.navbar {
    border: 1px solid rgba(85, 83, 83, 0.125);
    justify-content: space-between;
    background-color: rgb(167, 168, 168);
    position: relative;
}

#div2 {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 98%;
}

.cart,
#availableProduct {
    border: 1px solid rgba(0, 0, 0, .125);
    margin: 10px;
    padding: 10px;
    width: 700px;
    min-height: 800px;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}

#dropArea {
    border: 2px dashed rgba(0, 0, 0, .125);
    min-height: 155px;
    flex: 1.3;
    margin: 5px;
}

[contentEditable=false]:empty:not(:focus):before {
    content: attr(data-text);
    margin: auto;
}

.card {
    width: 330px !important;
    height: 150px !important;
    margin: 10px !important;
    padding: 5px !important;
    display: inline-block !important;
    flex-direction: column;
    background-color: aliceblue;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 5px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card:hover {
    transform: scale(1.05);
}

.navbar-light .navbar-brand {
    color: white;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 10px;
}

.phone {
    display: inline-flex;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

.highlight-bgcolor {
    background-color: #E1EDF7;
}

#totalPrice {
    margin: 1px;
}